<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetLogix - About Us</title>
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h1>About Us</h1>
        
        <div class="content">
            <div class="card-section">
                <div class="card">
                    <figure>
                        <img class="camioneta" src="../img/196216302-a-black-white-photo-of-an-old-abandoned-1940s-era-ih-pickup-sitting-in-a-field-with-snow.jpg" alt="Camión vintage">
                    </figure>
                    
                    
                    <div class="card-text">
                        <h3>Nuestra Historia</h3>
                        <p>njdjsdajnsdj</p>
                        <p>sjoasuhdasuooi</p>
                    </div>
                </div>
            </div>

            <div class="map-section">
                <div class="map-container">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.966660475135!2d-2.5525322232696523!3d43.16822398366175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e2d0061fa08f3%3A0xdf1b40830a8a1b00!2sHospital%20de%20Zaldibar!5e0!3m2!1ses!2ses!4v1759737830352!5m2!1ses!2ses" 
                        width="600" 
                        height="500" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="icon location-icon"></div>
                        <div class="line-connector"></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon email-icon"></div>
                        <div class="line-connector"></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon phone-icon"></div>
                        <div class="line-connector"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>