<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetLogix - About Us</title>
    <link rel="stylesheet" href="../css/aboutUs.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="#" alt="NetLogix Logo">
            <span>NetLogix</span>
        </div>
        <nav>
            <a href="#enlace4">Enlace4</a>
            <a href="#enlace3">Enlace3</a>
            <a href="#enlace2">Enlace2</a>
            <a href="#enlace1">Enlace1</a>
        </nav>
    </header>

    <div class="container">
        <h1>About Us</h1>

        <div class="content">
            <div class="card">
                <img src="../img/oldCamioneta.jpg"
                    alt="Camión vintage">
                <h3>Nuestra Historia</h3>
                <p>njdjsdajnsdj</p>
                <p>sjoasuhdasuooi</p>
            </div>

            <div class="map-section">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.966660475135!2d-2.5525322232696523!3d43.16822398366175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e2d0061fa08f3%3A0xdf1b40830a8a1b00!2sHospital%20de%20Zaldibar!5e0!3m2!1ses!2ses!4v1759737830352!5m2!1ses!2ses"
                    width="600" height="500" allowfullscreen loading="lazy">
                </iframe>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="icon location-icon"></div>
                        <div class="line"></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon email-icon"></div>
                        <div class="line"></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon phone-icon"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>