<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <footer class="grid-container">
        <div class="grid-item">
            <a class="footer-title">Bidalketa</a>
            <div class="separator"></div>
            <ul class="footer-flex-column">
                <li>
                    <a href="#" class="footer-text">Bidali Orain</a>
                </li>
                <li>
                    <a href="#" class="footer-text">Bidalketaren Aurrekontua</a>
                </li>
                <li>
                    <a href="#" class="footer-text">Bidalketaren Jarraipena</a>
                </li>
            </ul>
        </div>
        <div class="grid-item">
            <a class="footer-title">100 urte zure alboan</a>
            <div class="separator"></div>
            <ul class="footer-flex-column">
                <li>
                    <a href="#" class="footer-text">Gure Historia</a>
                </li>
                <li>
                    <a href="#" class="footer-text">Non Gaude</a>
                </li>
            </ul>
        </div>
        <div class="grid-item">
            <a class="footer-title">Kontaktua</a>
            <div class="separator"></div>
            <ul class="footer-flex-row">
                <li>
                    <a href="#" class="footer-social-media">
                        <img class="social-media-logo" src="img/footer/instagram.png" alt="Instagram logo">
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-social-media">
                        <img class="social-media-logo" src="img/footer/twitter.png" alt="Twitter logo">
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-social-media">
                        <img class="social-media-logo" src="img/footer/instagram.png" alt="Instagram logo">
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-social-media">
                        <img class="social-media-logo" src="img/footer/instagram.png" alt="Instagram logo">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>