<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/header.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="#">
        <img src="../assets/IMG/logo.png" alt="logo" class="nav-logo">
      </a>
      <div class="nav-links">
        <a href="#" class="nav-link">Hasiera</a>
        <a href="#" class="nav-link">Guri Buruz</a>
        <div class="dropdown" id="dropdown-menu">
          <a class="nav-link">Bidalketak</a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="#" class="nav-link">Bidali Orain</a>
            <a href="#" class="nav-link">Bidalketaren Jarraipena</a>
          </div>
        </div>
        <a href="#" class="nav-link">Saioa Hasi</a>
      </div>
      <hr class="line">
    </nav>
  </header>
  <!--<nav class="navbar bg-navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <div class="logo">
        <img src="../../../assets/img/logo.png" alt="">
      </div>
      <a class="navbar-brand title" href="#">Itsasoko Zaindariak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler-icon custom-shadow">
          <div></div>
          <div></div>
          <div></div>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/hasiera" routerLinkActive="active"
              (click)="itxiNavbar()">Hasiera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/erreskateak" routerLinkActive="active"
              (click)="itxiNavbar()">Erreskateak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/donatu" routerLinkActive="active" (click)="itxiNavbar()">Donatu</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              GU
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link" routerLink="/guriBuruz" routerLinkActive="active"
                  (click)="itxiNavbar()">Guri Buruz</a></li>
              <li><a class="dropdown-item nav-link" routerLink="/gureGaleria" routerLinkActive="active"
                  (click)="itxiNavbar()">Gure Galeria</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/kontaktua" routerLinkActive="active" (click)="itxiNavbar()">Kontaktua</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active" (click)="itxiNavbar()">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->

  <script src="../js/nav-bar.component.js"></script>

</body>

</html>