<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../assets/img/logo.png" alt="NetLogiX Logo">
        </div>
        <div class="Iniciarsesion">
            <a class="saioa-hasi"><img src="../assets/img/header/session-logo.png" alt="logo de una persona"></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()"> 
                <img src="https://i.gyazo.com/0e5a887b460e9eb1ddd618b56afbd12c.png" alt="Menu" class="img_menu">
            </button>
            <div class="dropdown-content" id="myDropdown"> 
                <a class="ekis" href="#" onclick="toggleDropdown()">X</a> 
                <a href="index.html">Home</a>
                <a href="JarraipenOrria.html">Jarraipena</a>
                <a href="formulario.html">Formularioa</a>
                <a href="aboutus.html">Guri Buruz</a>
                <div class="iniciarsesionhandi"><a class="saioa-hasi">Iniciar Sesion</a></div>
            </div>
        </div>
    </header>

    <script src="../js/header.js"></script>
</body>
</html>