body {
    
    padding: 0%;
    margin: 0%;
    
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    width: 100%;
    background-color: #d76719;

}

.grid-item {
    
    padding-top: 10px;
    padding-left: 10px;

}

.footer-title {

    margin-left: 15px;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    color: #ffffff;
    font-size: 20px;

}

.separator {

    height: 2px;
    width: 98%;
    background-color: #BB4D03;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
}

.big {

    grid-column: 1 / span 3;
}

.footer-flex {

    list-style: none;
    display: flex;
    flex-direction: column;
    height: 80%;

}

#last.footer-flex {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.footer-flex>li {

    padding-bottom: 15px;
    padding-top: 15px;
    
}

#contact.footer-flex>li {

    padding: 0px;

}

#first-down {

    grid-column: 1 / span 2;
}

.social-media-logo {

    width: 32px;    
    height: 32px;
    margin-right: 30px;
    transition: transform 0.3s ease;
}

.social-media-logo:hover {

    transform: scale(1.05);

}

.footer-text {

    padding: 5px;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    text-decoration: none;
    color: #ffffff;


}

.footer-info-text {

    width: 100%;
}


.footer-text:hover {

    color: #F6F1DB;

}

.footer-info-text:hover {

    cursor: default;
}

