@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "footer.css";
@import "main.css";
@import "session.css";

* {
    
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    color: #FFFFFF;
    background-color: #F6F1DB;
}

/*.popup-container {
    
    display: none;

}*/

p, a {

    color: #FFFFFF;
    text-decoration: none;

}

.cards {

    margin-bottom: 50px;
}