/* ======== UNION CSS ======== */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "header.css";
@import "footer.css";
@import "session.css";
@import "main.css";

/* ======== ESTILOS BASE ======== */
* { 
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    color: #FFFFFF;
    background-color: #F6F1DB;
}

p, a {
    color: #FFFFFF;
    text-decoration: none;
}

.cards {
    margin-bottom: 50px;
}

.saioa-hasi {
    cursor: pointer;
}