@import "footer.css";
@import "main.css";

* {
    
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    color: #FFFFFF;
    background-color: #F6F1DB;
}

p, a {

    color: #FFFFFF;
    text-decoration: none;

}

.cards {

    margin-bottom: 50px;
}