@import url("");

.navbar {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.nav-logo-container {

  display: flex;
  align-items: center;

}

.nav-logo {

  height: 48px;
  width: 48px;

}

.nav-title {

  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: #DBE2EF;

}

.nav-links {

  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;

}