
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f6f1db;
    }

    /* Otros estilos de contenido */
    .imgjarra {
        max-width: 50px;
        max-height: 50px;
    }
    .container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .dots {
        flex-grow: 1;
        text-align: left;
    }
    form {
        font-size: 25px;
    }
    input, select {
        font-size: 15px;
    }
        
/*Pantalla Txikia*/
@media (max-width: 650px) {
    .imgjarra{
      max-width: 50px;
    max-height: 50px;
    }
      .container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }

    .dots {
        flex-grow: 1;
        text-align: left;
    }

    form{
        font-size: 25px;
    }

    input, select{
        font-size: 15px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 20px;
        background-color: #f6f1db;
        border: 2px solid #D76719;
        border-radius: 8px;
    }

    .logo img {
        max-height: 100px;
        max-width: 100px;
    }

    .img_menu {
        height: 40px;
        width: 40px;
    }

    .dropdown {
        position: relative;
    }

    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 0;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: -30px;
        top: -30px;
        font-size: 25px;
        z-index: 1000;
    }

    .dropdown-content.show {
        display: block;
    }
    
    .dropdown-content .ekis {
        position: absolute;
        right: 0px; 
        top: -40px; 
        background-color: #f9f9f9;
        width: 40px; 
        height: 40px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        cursor: pointer;
        border-radius: 3px;
        font-weight: bold;
        color: #D76719;
        font-size: 25px;
        text-decoration: none;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}