@import "bootstrap";

.logo{
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 15px;
  overflow: hidden;
}

img{
  height: 100%;
  width: 100%;
}

a{
  font-family: Marcellus , bold;
}

.title{
  font-size: 30px;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
}

.nav-link{
  font-size: 18px;
  padding: 15px;
  &:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease ;
    color: #BB4D03;
  }
}

.container-fluid{
  padding: 0%;
}

.bg-navbar{
  background-color: #F6F1DB;
  color: #BB4D03;
  a{
    color: #D76719;
  }
  .nav-link.active{
    color: #BB4D03;
    font-weight:bold;
  }
}

.collapse{
  font-size: 20px;
  background-color: #F6F1DB;
  transition: none;
  border: none;
}

.navbar-toggler .custom-toggler-icon {
  display: inline-block;
  position: relative;
  width: 27px;
  height: 24px;
}


.navbar-toggler .custom-toggler-icon {
  position: relative;;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #D76719;
    border-radius: 20%;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  div {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #D76719;
    border-radius: 20%;
  }

  &:hover {
    &::before,
    &::after,
    div {
      background-color: #BB4D03;
    }
  }
}

.custom-shadow{
  &:hover{
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.829));
  }
}

.navbar-toggler .custom-toggler-icon::before {
  top: 12%; 
}

.navbar-toggler .custom-toggler-icon div {
  top: 50%;
  transform: translateY(-50%);
}

.navbar-toggler .custom-toggler-icon::after {
  bottom: 12%;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu{
  background-color: #F6F1DB;
  border-color: #F6F1DB;
  .nav-link:hover{
    background-color: #F2F1EC;
  }
}

.navbar-collapse.show .nav-item:hover {
  margin-right: 0;
  background-color: #F2F1EC;
  transition: background-color 0.3s ease-in-out; 
}

.dropdown-menu .dropdown-item.active {
  background-color: #F6F1DB !important;
  color: #D76719 !important;
  text-decoration: none;
  &:hover{
    background-color: #F2F1EC !important;
  }
}

.nav-item.dropdown .nav-link.dropdown-toggle {
  color: #D76719 !important;
}

.nav-item.dropdown .nav-link.dropdown-toggle:hover {
  color: #BB4D03 !important;
}

@media (max-width:1000px) {

  .nav-link:hover{
    transform:none;
    transition: none;
  }

  .dropdown-menu{
    border-color: #F6F1DB;
    .dropdown-item{
      padding: 10px;
    }
  }
}



