#send {

    transition: all 500ms;

}

#send:hover {

    cursor: pointer;
    color: #F6F1DB;
    font-size: large;

}

.popup-container {

    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 2;

}

.login-box {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f1ec;
    position: relative;
    padding: 10px;
    width: 450px;
    height: 450px;
    border: #BB4D03 solid 3px;
    border-radius: 10px;
    color: #D76719;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    padding-top: 30px;
    z-index: 3;

}

.popup-title {

    cursor: default;
}

.session-form {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.form-group {

    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group label {

    margin-left: 2px;
}


.form-group input {

    border: #BB4D03 2px solid;
    border-radius: 5px;
    margin-top: 5px;
    width: 400px;
    height: 25px;

}

.form-group input:focus {
    outline: none;
    border: 2px solid #D76719;
}

.login-button {

    border: #D76719 solid 2px;
    background-color: #D76719;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 10px;

}

.login-button:hover {

    border: #BB4D03 solid 2px;
    background-color: #BB4D03;
    color: #F6F1DB;
}

.login-box p {

    margin-top: 20px;
    color: #BB4D03;
    font-weight: bold;
    cursor: default;
    text-align: center;
    width: 100%;
}

.register_link {

    color: #D76719;
    text-decoration: underline;
    font-weight: normal;
}

.register_link:hover {

    color: #BB4D03;
}

.login-logo {

    height: 166px;
    width: 166px;
    opacity: 0.85;
    padding-bottom: 18px;
}

.load {

    pointer-events: auto;
    opacity: 1;

}